# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.ipynb_checkpoints/

# Virtual Environment
venv/
.venv/
env/

# Maven / Java
target/
*.class
*.jar
*.war
*.ear

# Logs and databases
*.log
*.sqlite

# IDEs
.idea/
.vscode/
*.iml

# OS files
.DS_Store
Thumbs.db
